@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #002400;
  --primary: #58641D;
  --primary-dark: #273B09;
  --secondary: #002400;
  --accent: #7B904B;
  --light: #DBD2E0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}
